.budget-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.budget-table th, .budget-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.budget-table th {
    background-color: #f2f2f2;
}

.btn-group {
    display: inline-block;
}

.form-container {
    margin-top: 10px; /* 必要に応じて調整 */
}

.ListBtn {
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    padding: 10px 20px; /* ボタン内のパディング */
    font-size: 16px; /* ボタンのフォントサイズ */
    border: none; /* ボタンのボーダーなし */
    border-radius: 5px; /* ボタンの角の丸み */
    cursor: pointer; /* カーソルをポインターに変更 */
}

/* ボタンにホバー時のスタイルを追加 */
.ListBtn:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

header {
	background-color: rgb(232, 255, 252);
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header {
	margin: 0;
}
